<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="APIComplete" verbose="1">
	<test name="APIAutomation">
		<classes>
		<class name="testCases.UploadFileScenario" />
			<class name="testCases.FilesShareScenario" />
			<class name="testCases.DeleteScenario" />
		</classes>
	</test>
</suite>
