<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="APIComplete" verbose="1">
	<test name="APIAutomation">
		<classes>
			<class name="tests.E2EUpload" />
			<class name="tests.FunctionalUploadFile" />
			<class name="tests.FunctionalUploadToken" />
		</classes>
	</test>
</suite>
